.box {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
  transition: background 1s;
}

.visible {
  background: linear-gradient(to right, #65cbf6 0%, #ab85fd 100%);
}

p {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
